* {
    margin: 0;
    box-sizing: border-box;
}

#div_uno {
    height: 768px;
    width: 1024px;
    margin: 0 auto;
}

#div_dos{
    height: 155px;
    width: 985px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    background-color: green;
}
#div_tres{
    height: 290px;
    width: 215px;
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
    background-color: blue;
}
#div_cuatro{
    height: 450px;
    width: 746px;
    padding: 12px;
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    background-color: red;
}
.cuadrados_amarillos{
    height: 190px;
    width: 224px;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 7px;
    display: inline-block;
    background-color: yellow;
}


#div_ocho{
    height: 150px;
    width: 709px;
    margin-top: 30px;
    margin-left: 7px;
    background-color: purple;
}

/* Responsive Styles */

@media screen and (min-width: 481px) and (max-width:1023px){
    #div_tres{
        display: none;
    }

    #div_cuatro{
        height: 1075px;
        width: 985px;
        padding: 12px;
        margin-top: 10px;
        margin-left: 20px;
        display: inline-block;
        background-color: red;
    }
    #div_dos{
        height: 285px;
        width: 985px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 20px;
        background-color: green;
    }
    .cuadrados_amarillos{
        height: 336px;
        width: 432px;
        margin-top: 30px;
        margin-right: 23px;
        margin-left: 23px;
        display: inline-block;
        background-color: yellow;
    }
    #div_ocho{
        height: 260px;
        width: 945px;
        margin-top: 35px;
        margin-left: 7px;
        background-color: purple;
    }

}

@media screen and (max-width: 480px){
    #div_tres{
        display: none;
    }
    
    #div_cuatro{
        height: 1815px;
        width: 985px;
        padding: 12px;
        margin-top: 10px;
        margin-left: 20px;
        display: inline-block;
        background-color: red;
    }
    #div_dos{
        height: 335px;
        width: 985px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 20px;
        background-color: green;
    }
    .cuadrados_amarillos{
        height: 390px;
        width: 860px;
        margin-top: 45px;
        margin-left: 50px;
        display: inline-block;
        background-color: yellow;
    }
    #div_ocho{
        height: 330px;
        width: 850px;
        margin-top: 80px;
        margin-left: 55px;
        background-color: purple;
    }
}